* {

  margin: 0;
  padding: 0;

}

body {
  overflow: hidden;
}

/*
============================
||        Flexes          ||
============================
 */

.vertical-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

/*
============================
||        Clock           ||
============================
 */
#clock-body {
  /* position: absolute;
  bottom: 30%; */
  transition: 0.5s;
  text-align: center;
  width: 100%;
  flex-grow: 0;
  margin-bottom: 30vh;
}

#clock-wrapper {

}

#clock-body h1 {
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 28pt;
  font-weight: 400;
}

#clock-body h2 {
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 16pt;
  font-weight: 400;
}

/*
============================
||        Youtube         ||
============================
 */



 /* width */
 #yt-search-results::-webkit-scrollbar {
   height: 5px;
 }

 /* Track */
 #yt-search-results::-webkit-scrollbar-track {
   background: black;
 }

 /* Handle */
 #yt-search-results::-webkit-scrollbar-thumb {
   background: #555;

 }

 /* Handle on hover */
 #yt-search-results::-webkit-scrollbar-thumb:hover {
   background: #333;
 }

 #youtube-body {
   min-height: 35vh;
   max-width: 576px; /*This appears to be the max width for a third of my screen*/
   overflow: hidden;
   flex-grow: 2;
 }

#yt-control-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#youtube-body #player {
  margin: 0;
  padding: 0;
  display: block;
}

#youtube-input {
  background-color: #5C5B5B;
  width: 85%;
  border: none;
  padding: 5px;
  margin: 0;
  color: white;
  flex-grow: 4;
}

.btn {
  border: none;
  background-color: #474747;
  padding: 5px;
  margin: 0;
  color: white;
  flex-grow: 0;
}

.btn:hover {
  cursor: pointer;
  filter: brightness(110%);
}

#yt-search-results {
  overflow-x: scroll;
  display: none;
  background-color: rgba(0,0,0, 0.6);
}

.yt-search-result-item {
  margin: 0px 5px;
}

.yt-search-result-item:hover {
  cursor: pointer;
}

.yt-search-video-title {
  font-size: 12pt;
  color: white;
  filter: brightness(80%);
  text-align: center;
  text-transform: capitalize;
  font-family: sans-serif;
}

.yt-search-video-thumb {
  width: 150px;
  height: auto;
}

/*
============================
||         Timer          ||
============================
 */
#timer {
  text-align: center;
}

#timer-topline {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 3;
  grid-row-gap: 0.5em;
  max-width: 300px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

#timer-topline button {
  border: none;
  background-color: transparent;
  color: white;
}

#timer-topline button:hover {
  cursor: pointer;
}

#timer-topline button:focus, #timer-topline button:active {
  outline: none;
}

#timer p {
  display: inline;
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 28pt;
  font-weight: 400;
}

#timer-hours::after, #timer-minutes::after {
  content: ":";
}

/* Experimental Nonsense below */

.number-container {
  height: 3em;
  overflow: hidden;
}

#timer-hours {
  position: relative;
  z-index: 1;
}

/* limiting our size to not mess up the grid */

#hours-invisible-scroll {
  position: absolute;
  height: 3em;
  width: 4em;
  z-index: 2;
  overflow: hidden;
}
/* Showing our invisible scrollbar and adding scroll functionality on hover */
#hours-invisible-scroll:hover{
  overflow-y: scroll;
  overflow-x: hidden;
}

/* BELOW --> Setting our scroll bar to be invisible and non-intrusive */
/* width */
#hours-invisible-scroll::-webkit-scrollbar {
  width: 1px;
}

/* Track */
#hours-invisible-scroll::-webkit-scrollbar-track {
  height: 1px;
  background: transparent;
}

/* Handle */
#hours-invisible-scroll::-webkit-scrollbar-thumb {
  background: transparent;

}

/* Handle on hover */
#hours-invisible-scroll::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
